:host {
  width: 49%;
}

.green_box {
  border-radius: 0.25rem;
  background-color: rgb(46, 169, 107);
  background: linear-gradient(
    -180deg,
    rgba(46, 169, 107, 1) 0%,
    rgba(49, 181, 115, 1) 42%,
    rgba(57, 179, 172, 1) 100%
  );
  color: #fff;
  font-size: 1.2rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.349019607843137);
}

.green_box .text_top {
  padding: 1rem 2rem 1rem;
}

.text_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.font_bold {
  font-weight: bold;
}

.text_bottom {
  font-size: 0.7rem;
}
.green_box .text_bottom {
  padding: 0 2rem 1.5rem;
}

.currImg {
  height: 11px;
  width: 7px;
}
