  
  .bg_gray{
    background-color: rgba(248, 248, 248, 1);
    padding: 10px;
  }
  .bg_white{
    background-color: white;
    padding: 10px;
  }
  .bill_prod{
    list-style-type: circle;
    margin-top: 20px;
    margin-bottom: 20px
  }
  
  .bill_prod li{
  padding-bottom: 5px
  }
  .bill_pro{
   margin-top: 30px;
   margin-bottom: 30px
  }
  
  .bill_pro li{
  padding-bottom: 10px
  }
  .bill_pro a{
    color:#00789F;
  }
  .config{
    /* margin-top:40px; */
    border-top: 1px solid #e9ecef;
    /* padding-top: 10px; */
    color:#169BD5;
  }

  .search-container{
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .searchBox{
    padding: 5px;
    margin-left: 1.5rem;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #ccc;
  }