<div class="col-6 chart_box" (window:resize)="onResize($event)" #barchart>
  <div *ngIf="!noData && data && data.length>0;else noDataMsg">
    <div style="float: right;padding: 0.7% 3% 0 0; position: relative; z-index: 3;" class="pointer">
      <img
        src="./assets/images/download.svg"
        (click)="downloadImage()"
        class="img_13"
      />
    </div>
    <google-chart *ngIf="data && data.length > 0"
      #chart
      style="width:100%"
      [formatter]="customFormatter"
      [type]="type"
      [options]="options"
      [data]="data"
      [columnNames]="columnNames"
      (ready)="onReady()"
    ></google-chart>
  </div>
  <ng-template #noDataMsg>
    <div style="text-align: center; padding: 25%">
      {{errMsg}}
    </div>
  </ng-template>
  <ngx-spinner
    bdOpacity="0.9"
    bdColor="#333"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
    [fullScreen]="false"
    name="billViewSpinner"
  >
    <p style="color: white">Loading...</p>
  </ngx-spinner>
</div>
