<div class="content_box_dispute">

    <div class="content-credit-note" id="right_content" *ngIf='true'>

        <div class="dispute-right-end-container">
            <div class="dispute_bill_top_heading fs-24 PB-REM1 tc-3">
                <div>{{'ACTIVITY.LOG' | translate}}</div>
            </div>

            <!-- Table Starts -->
            <div class="dispute-content" style='font-size:12px;'>
                <ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-scale-multiple"
                    [fullScreen]="false" name="auditPageSpinner"></ngx-spinner>
                <div class="dispute-content-container disp-flex">
                    <div class="filter-container pull-left sidebar-dispute" *ngIf="isFilterVisible"
                        [style.width]="isFilterVisible ? '25%' : '0%'">
                        <div class="sidebar-filters-header disp-flex md-flex-center jc-space-bw" style="height:35px">
                            <div class="PL-REM1">{{'FILTERS' | translate}} </div>
                            <div class="PR-REM1">
                                <button class="btn clear-button"
                                    (click)="onReset();isFilterVisible=false;animationState = animationState === 'out' ? 'in' : 'out';">{{'CLEAR_ALL'
                                    | translate}}</button>
                                <button class="btn btn-secondary search-btn"
                                    (click)="onFilterButtonSearch();isFilterVisible=false">{{'APPLY' |
                                    translate}}</button>
                                <span class="pointer ML20" *ngIf="isFilterVisible" (click)='isFilterVisible=false'>
                                    <img style="width: 20px;height: 20px;" src="assets/images/left-circle.svg" />
                                </span>
                            </div>
                        </div>
                        <div class="sidebar-filters-body disp-flex">
                            <div class="tab" style="min-height: calc(100vh - 200px);">
                                <button class="tablinks"
                                    [ngClass]="{'active' : isGlobalSearch , 'inactive' : !isGlobalSearch}"
                                    (click)="resetActiveFilter();isGlobalSearch = true">{{'SEARCH' |
                                    translate}}</button>
                                <ng-container *ngFor='let fiterItem of allColumns'>
                                    <button class="tablinks" *ngIf="fiterItem.isFilterRequired"
                                        style="overflow: hidden;text-overflow: ellipsis;"
                                        [ngClass]="{'active' : fiterItem.isActive , 'inactive' : !fiterItem.isActive}"
                                        (click)='onFilterSelection(fiterItem,$event);isGlobalSearch = false'
                                        title={{fiterItem.header}}>{{fiterItem.header}}</button>
                                </ng-container>
                            </div>
                            <div id="Search" class="tabcontent" style="min-height: calc(100vh - 200px);">
                                <div style="height: 100%" *ngIf="isGlobalSearch">
                                    <div class="PB10">
                                        <input type="text" class="form-control" [(ngModel)]='searchText'
                                            placeholder="Search" (keyup.enter)='onSearch()'>
                                    </div>

                                    <div class="form-group" style="position: relative;">
                                        <label for="fromDate" class="label-font-size-12 fs-12"
                                            style="margin-bottom: 0.4rem;">{{'FROM' | translate}}</label>
                                        <input (keyup.enter)='onSearch()' autocomplete="off" type="text"
                                            class="form-control" id="fromdate" placeholder="mm/dd/yyyy" name="fromdate"
                                            [(ngModel)]="fromDate" [owlDateTime]="dt1"
                                            [ngModelOptions]="{ standalone: true }" #dateTimeFrom="ngModel"
                                            [owlDateTimeTrigger]="dt1" />
                                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                        <i class="calender-icon" [owlDateTimeTrigger]="dt1"></i>
                                    </div>

                                    <div class="form-group" style="position: relative;">
                                        <label for="toDate" class="label-font-size-12 fs-12"
                                            style="margin-bottom: 0.4rem;">{{'TO' | translate}}</label>
                                        <input (keyup.enter)='onSearch()' autocomplete="off" type="text"
                                            class="form-control" id="todate" placeholder="mm/dd/yyyy" name="fromdate"
                                            [(ngModel)]="toDate" [owlDateTime]="dt2"
                                            [ngModelOptions]="{ standalone: true }" #dateTimeTo="ngModel"
                                            [owlDateTimeTrigger]="dt2" />
                                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                        <i class="calender-icon" [owlDateTimeTrigger]="dt2"></i>
                                    </div>
                                </div>
                                <div class="filter-container HT-PC100" *ngIf="!isGlobalSearch">
                                    <div class='search-cont'>
                                        <input type="text" class='search-input' placeholder="Search Key"
                                            [(ngModel)]="searchFilterText" />
                                        <i class="fa fa-search fa-lg pointer" style='padding-left: 5px;
                                                                font-size: 18px;color: #999999' aria-hidden="true"></i>
                                    </div>
                                    <div class="PT-REM1"
                                        style='width: inherit;height: inherit;overflow-y: auto;height: calc(100% - 30px);'>
                                        <div class="labelData"
                                            *ngFor="let checkBoxItem of filterValues | searchFilter :'label' : searchFilterText"
                                            (click)='$event.stopPropagation()'>
                                            <!--  -->
                                            <input type="checkbox" class='chkbox' [checked]='checkBoxItem.isChecked'
                                                (change)='checkBoxItem.isChecked =! checkBoxItem.isChecked'>
                                            <span class="labelSpan">
                                                {{checkBoxItem.label}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div [style.width]="!isFilterVisible ? '100%' : '75%'"
                        class="table-container table-responsive creditnote-resp-container"
                        style="position: relative; border: none !important">
                        <ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff"
                            type="ball-scale-multiple" name="auditTableSpinner" [fullScreen]="false"></ngx-spinner>
                        <div style="height:35px" class="jc-space-bw disp-flex md-flex-center">
                            <div class="disp-flex BTN-FILTERS pointer" *ngIf="!isFilterVisible">
                                <a class="btn btn-primary search-btn disp-flex md-flex-center"
                                    (click)="isFilterVisible=true;animationState = animationState === 'out' ? 'in' : 'out';"
                                    style="color:white">
                                    {{'FILTERS' | translate}}
                                    <i class="pi pi-filter PL5" style="color:white"></i>
                                </a>
                            </div>

                            <div *ngIf="isFilterVisible"></div>
                            <div class="dispute-top-right" *ngIf='totalCount'>
                                <div class="pagination-container">
                                    <span class="page-count">{{reqObj && (reqObj.pageNum + 1) ? (reqObj.pageNum + 1) :
                                        '' }}
                                        -
                                        {{reqObj && (reqObj.pageNum + per_page_count) > totalCount ? totalCount :
                                        (reqObj.pageNum + per_page_count) }}
                                        of {{totalCount ? totalCount : "0"}}</span>
                                    <span>
                                        <a class="previous pointer" (click)="onArrowClick('previous')"
                                            [ngClass]="{'arrow-disable': reqObj && reqObj.pageNum == 0 }">&#8249;</a>
                                        <a class="next pointer" (click)="onArrowClick('next')"
                                            [ngClass]="{'arrow-disable':  reqObj && (reqObj.pageNum + per_page_count > totalCount || reqObj.pageNum + per_page_count == totalCount || !totalCount) }">&#8250;</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p-table [columns]="allColumns" [value]="acitivityLogData" [scrollable]="true"
                            [resizableColumns]="true">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col *ngFor="let col of columns" [style.width]="col.width">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr class="border-bottom-ccc border-top-ccc">
                                    <th *ngFor="let col of columns" pResizableColumn>
                                        <span class="tab-header fs-14">{{col.header}}</span>
                                        <span class="pull-right">
                                            <p-sortIcon [pSortableColumn]="col.field" [field]="col.field"></p-sortIcon>
                                        </span>

                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" class="fs-14">
                                    <td *ngFor="let col of columns" class="ui-resizable-column"
                                        [ngClass]="(col.header == 'Status' && rowData[col.field] == 'Success')  ? 'color-green' : (col.header == 'Status' && rowData[col.field] == 'Failure') ? 'color-red': null">
                                        {{col.subField == ''? rowData[col.field] : rowData[col.field][col.subField]}}
                                        <a class="td-dispute-text"
                                            *ngIf="rowData.atrCurObject && col.header == 'Action' "><i
                                                class="pi pi-info-circle" [MSPopover]="actionDetails"
                                                placement='auto bottom' closeOnClickOutside='true' container='body'
                                                (click)="onactionDetailsPopover(rowData)"></i></a>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="emptymessage" let-columns>
                                <tr>
                                    <td [attr.colspan]="columns.length"
                                        style="text-align: center;height: 200px;font-size: 16px !important;">
                                        {{'NO_DATA_AVAILABLE' | translate}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='false' class='unauthorized_msg'>
        {{'UNAUTHORIZED_MSG' | translate}}
    </div>
</div>

<ng-template #actionDetails>
    <div class="fs-14" *ngIf="popoverKeys && popoverKeys.length" style="width:600px">
        <div class="pop-header disp-flex md-flex-center jc-center">
            <div class="P-REM1 flex-1">{{'FIELD' | translate}}</div>
            <div class="P-REM1 flex-2">{{'CURRENT_VAl' | translate}}</div>
            <div class="P-REM1 flex-2">{{'PREVIOUS_VAl' | translate}}</div>
        </div>
        <!-- calc(100vh - 485px) -->
        <div style="max-height: calc(100vh - 360px);overflow-y: auto;">
            <ng-container *ngFor='let key of popoverKeys'>
                <div class="pop-body disp-flex border-bottom-ccc" *ngIf="auditPopHeaders[key]">
                    <div class="P-REM1 flex-1 CP4" style="color:#808181">{{key == 'addressName' && popoverKeys.length < 8 ? "Contact Name" : auditPopHeaders[key]}}</div>
                    <div class="P-REM1 flex-2" style="word-break: break-word;">
                        {{(key == 'disputeCreatedDate' || key == 'disputeReviewByDate') && popoverData.atrCurObject[key] ?
                        (getDateFromMillis(popoverData.atrCurObject[key]) | date : localeProperties?.dateTimeFormat : ''
                        : localeProperties?.locale) : popoverData.atrCurObject[key]}}
                    </div>
                    <div class="P-REM1 flex-2" style="word-break: break-word;">
                        {{(key == 'disputeCreatedDate' || key == 'disputeReviewByDate')&& popoverData.atrPrevObject[key] ?
                        (getDateFromMillis(popoverData.atrPrevObject[key]) | date : localeProperties?.dateTimeFormat :
                        '' : localeProperties?.locale) : popoverData.atrPrevObject[key]}}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>