<div class="disp-flex md-flex-center jc-center flex-col" style="height: calc(100vh - 90px);" >
    <div class='warning-note PB20' *ngIf='isWarningMsg'>{{'PLEASE_CHANGE_MSG' | translate}}</div>

    <div class="dispute-container-content">
        <ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-scale-multiple"
            [fullScreen]="false" name="changePasswordSpinner"></ngx-spinner>
        <div class="dispute-heading-bg">
            <div class="P10 fs-24 tc-3">{{'CHANGE_PASSWORD' | translate}}</div>
        </div>
        <div class="form_container">
            <div class="form_section col-md-12">
                <form [formGroup]="changePasswordForm" action="">
                    <div class="form-group">
                        <label for="text" class="fs-14 tc-1">{{'CURRENT_PASSWORD' | translate}}</label>
                        <input type="Password" class="form-control" placeholder="Current Password" id="currPassword"
                            formControlName="currentPassword">
                        <div class="warning"
                            *ngIf="!changePasswordForm?.valid && changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.errors?.required">
                            {{'PLEASE_FILL_CURRENT_PWD' | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text" class="fs-14 tc-1">{{'NEW_PASSWORD' | translate}}</label>
                        <input type="Password" class="form-control" placeholder="New Password"
                            formControlName="newPassword">
                        <div class="warning"
                            *ngIf="!changePasswordForm?.valid && changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.errors?.invalidLength && !changePasswordForm.get('newPassword').errors?.required">
                            Minimum {{minLength}} letters Required
                        </div>
                        <div class="warning"
                            *ngIf="!changePasswordForm?.valid && changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword').errors?.required">
                            {{'PLEASE_FILL_CURRENT_PWD' | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text" class="fs-14 tc-1">{{'CONFIRM_PASSWORD' | translate}}</label>
                        <input type="Password" appRoot class="form-control" placeholder="Confirm Password"
                            formControlName="confirmPassword">

                        <div class="warning"
                            *ngIf="!changePasswordForm?.valid && changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword').errors?.required">
                            {{'PLEASE_FILL_CONFIRM_PWD' | translate}}
                        </div>
                        <div class="warning"
                            *ngIf="!changePasswordForm?.valid && changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword').errors?.notEqual && !changePasswordForm.get('confirmPassword').errors?.required">
                            {{'NEW_PWD_CONFIRM_PWD_MSG' | translate}}
                        </div>
                    </div>


                    <div class="dispute-btn col-md-8" style="padding: 0px;">
                        <button type="submit" (click)="saveData()" [disabled]="!changePasswordForm.valid"
                            class="save-btn btn btn-primary btn-block">Save</button>
                        <button type="submit" (click)="cancelForm()"
                            class="cancel-btn btn btn-primary btn-block">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>