.dispute-container-content {
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    box-shadow: 0 0 8px 0px #c5c5c5;
    background: #fff;
    width: 450px;
    text-align: left;
    /* margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.dispute-heading-bg {
    background: #eee;
    border-top-left-radius: 0.5rem;
    -webkit-border-top-left-radius: 0.5rem;
    -moz-border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    -webkit-border-top-right-radius: 0.5rem;
    -moz-border-top-right-radius: 0.5rem;
}

.dispute-container-content h2 {
    font-size: 16px;
    padding: 1rem;
    font-weight: 500;
}

.dispute-container-content .form_section {
    font-size: 12px;
    padding: 1rem 2rem 2rem 2rem;
}

.dispute-container-content .dispute-btn {
    margin-top: 1.5rem;
}

.form_container {
    display: flex;
}
.form-group {
    margin-bottom: 1rem;
}


.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dispute-btn {
    display: flex;
}
.dispute-btn button {
    margin-right: 1rem;
}

.warning {
    font-size: 10px;
    color: red;
    white-space: nowrap;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}


.save-btn {    
    font-size: 1.4rem;    
    background: #008dbc;
    border: none;
    border-radius: 5px;   
    color: #fff;   
    font-weight: 500;
    margin-top: 0px !important;
}

.cancel-btn{    
    font-size: 1.4rem;    
    background: none;
    border: none;
    border-radius: 5px;    
    color: #008DBC;
    font-weight: 500;
    margin-top: 0px !important;
    box-shadow: none;
}

.warning-note{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    color: #f58c00;
}