.bill_box {
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    box-shadow: 0 0 8px 0px #c5c5c5;
    background: #fff;
    margin: 5px;
    overflow: auto; 
}

.icon-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem 0.5rem 1rem; 
    font-size: 12px;
    cursor: pointer;
    font-size: 12px;
    box-sizing: border-box;
    word-break: break-all;
}

.icon-set img{
    margin-right: 0.3rem;
}

.value-blue{
    color:#1e91b9 !important;
}

.icon-section{
    display: flex;    
    align-items: center;
}

.top-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.top-icons > img{
    margin-left: 0.5rem;
}

.bill_top_heading {
    /*background-color: #fff;*/
    padding: 0.7rem 1rem;
    color: #4d4f5c;
    font-size: 1.4rem;
    /*box-shadow: 0 4px 3px -2px #c5c5c5;*/
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.credit-note-section{
    display: flex;    
    align-items: center;
}

.noPreview {
    text-align: center;
    font-size: 12px;
    padding-top: 16rem;
    position: relative;
}

